body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font: 400 16px/1.5 "Open Sans", sans-serif;
  color: #443320;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

figcaption {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

a {
  color: #a64f03;
  text-decoration: none;
  -o-transition: 0.25s;
  ms-transition: 0.25s;
  moz-transition: 0.25s;
  webkit-transition: 0.25s;
  transition: 0.25s;
}

a:hover {
  color: #5b2b02;
  -o-transition: 0.25s;
  ms-transition: 0.25s;
  moz-transition: 0.25s;
  webkit-transition: 0.25s;
  transition: 0.25s;
}

.button {
  background-color: #a64f03;
  color: #ffffff;
  padding: 7.5px 15px;
  display: inline-block;
}

.button:hover {
  background-color: #743702;
  color: #ffffff;
}

nav ul,
nav ol {
  list-style: none;
}

input,
select {
  font-size: 16px;
  color: #443320;
  background-color: #ffffff;
  border: 1px solid #c8bfb8;
  border-radius: 0;
}

input:focus,
select:focus {
  outline: none;
}

input[type=text] {
  padding: 7.5px;
}

select {
  padding: 7.5px;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../assets/images/select-arrow.png);
  background-position: 96% 50%;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

@font-face {
  font-family: 'icomoon';
  src: url("../assets/fonts/icomoon.eot?hh785b");
  src: url("../assets/fonts/icomoon.eot?hh785b#iefix") format("embedded-opentype"), url("../assets/fonts/icomoon.ttf?hh785b") format("truetype"), url("../assets/fonts/icomoon.woff?hh785b") format("woff"), url("../assets/fonts/icomoon.svg?hh785b#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

header.main {
  min-height: 150px;
  background: #9a7549;
  padding: 30px;
}

#page-title {
  margin: 0;
}

header.secondary {
  margin-bottom: 30px;
}

header.secondary:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 600px) {
  header.secondary h2 {
    float: left;
  }
}

@media (min-width: 600px) {
  header.secondary .button {
    float: right;
  }
}

.utility-nav {
  background: #d38c4e;
  padding: 15px 30px;
  margin-bottom: 30px;
}

.utility-nav:after {
  content: "";
  display: table;
  clear: both;
}

.utility-nav li {
  float: left;
  margin-right: 15px;
}

.utility-nav a {
  color: #443320;
  text-decoration: none;
  -o-transition: 0.25s;
  ms-transition: 0.25s;
  moz-transition: 0.25s;
  webkit-transition: 0.25s;
  transition: 0.25s;
}

.utility-nav a:hover, .utility-nav a:active {
  color: #c8bfb8;
  -o-transition: 0.25s;
  ms-transition: 0.25s;
  moz-transition: 0.25s;
  webkit-transition: 0.25s;
  transition: 0.25s;
}

.utility-nav a.active {
  font-weight: 700;
}

.resource-list ul {
  list-style: none;
}

.resource-list li {
  padding: 15px 30px;
}

.resource-list li:nth-child(odd) {
  background-color: #cdb496;
}

.resource-list li:nth-child(even) {
  background-color: #ecceb4;
}

.resource-list .document .title:before {
  font-family: "icomoon";
  margin-right: 15px;
}

.resource-list .file .title:before {
  content: "\e924";
}

.resource-list .book .title:before {
  content: "\e920";
}

.resource-list .podcast .title:before {
  content: "\e910";
}

.resource-list .action {
  font-family: "icomoon";
  float: right;
}

.resource-list .action:before {
  display: inline-block;
  -webkit-transition: all 300ms 0s ease-in-out;
  -moz-transition: all 300ms 0s ease-in-out;
  -ms-transition: all 300ms 0s ease-in-out;
  -o-transition: all 300ms 0s ease-in-out;
  transition: all 300ms 0s ease-in-out;
}

.resource-list .action:hover:before {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

.resource-list .remove:before {
  content: "\ea0f";
}

.resource-list .add:before {
  content: "\ea0a";
}

.filters {
  background-color: #d38c4e;
  padding: 15px 30px;
}

.filters input,
.filters select {
  width: 100%;
  margin: 0 0 15px 0;
}

@media (min-width: 800px) {
  .filters input,
  .filters select {
    width: 33.33333%;
    margin: 0 15px 0 0;
  }
}

.filter-reset {
  cursor: pointer;
}

.profile {
  background-color: #dda777;
  margin: 0 0 30px 0;
}

.profile:after {
  content: "";
  display: table;
  clear: both;
}

.profile-image {
  width: 60%;
  float: left;
}

@media (min-width: 600px) {
  .profile-image {
    width: 50%;
  }
}

@media (min-width: 800px) {
  .profile-image {
    width: 100%;
    float: none;
  }
}

.profile-meta {
  padding: 7.5px 15px;
  width: 40%;
  float: left;
}

@media (min-width: 600px) {
  .profile-meta {
    padding: 15px 30px;
    width: 50%;
  }
}

@media (min-width: 800px) {
  .profile-meta {
    width: 100%;
    float: none;
  }
}

.profile-meta .title {
  font-weight: 700;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.two-column .sidebar-left,
.two-column .content {
  padding: 0 30px;
}

@media (min-width: 800px) {
  .two-column .sidebar-left,
  .two-column .content {
    float: left;
  }
}

.two-column .sidebar-left {
  padding: 0 30px;
}

@media (min-width: 800px) {
  .two-column .sidebar-left {
    width: 33.33333%;
    padding: 0 30px;
  }
}

@media (min-width: 960px) {
  .two-column .sidebar-left {
    padding: 0 30px 0 0;
  }
}

@media (min-width: 800px) {
  .two-column .content {
    width: 66.66666%;
    padding: 0 30px 0 0;
  }
}

@media (min-width: 960px) {
  .two-column .content {
    padding: 0;
  }
}

.one-column .content {
  padding: 0 30px;
}

@media (min-width: 960px) {
  .one-column .content {
    padding: 0;
  }
}
