//
// Sidebar Left Responsive Layout
//

.sidebar-left,
.content {
	padding: 0 $spacing-unit;
	@include bp($small) {
		float: left;
	}
}

.sidebar-left {
	padding: 0 $spacing-unit;

	@include bp($small) {
		width: 33.33333%;
		padding: 0 $spacing-unit;
	}

	@include bp($max) {
		padding: 0 $spacing-unit 0 0;
	}
}

.content {
	@include bp($small) {
		width: 66.66666%;
		padding: 0 $spacing-unit 0 0;
	}

	@include bp($max) {
		padding: 0;
	}
}