//
// Utility Navigation Styles
//

.utility-nav {
	background: $utility-nav-bg-color;
	padding: $spacing-unit/2 $spacing-unit;
	margin-bottom: $spacing-unit;
	@include clearfix;

	li {
		float: left;
		margin-right: $spacing-unit/2;
	}

	a {
		color: $utility-nav-font-color;
		text-decoration: none;
		@include fade;

		&:hover,
		&:active {
			color: $utility-nav-font-color-hover;
			@include fade;
		}

		&.active {
			font-weight: 700;
		}
	}
}